@import '../../../../styles/variables.scss';
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .buttonBlock{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: flex-end;
       
        .button{
           
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border:none;
            color: $rmd-grey-100;
                background-color: $rmd-blue-800;
            .faXmark{
                
                font-size: 1.6rem;
                color: $rmd-grey-100;
            }   
            &:hover,&:focus{ 
                color: $rmd-grey-100;
                background-color: $rmd-blue-900;
                .faXmark{
                    color: inherit;
                   
                }   
            }

        }
        
    }
    .table{
        display: flex;
        justify-content: center;
        padding: 5px;
        .columDays{
            padding: 5px;
           
            .rowsTitle{
                font-size: 1.2rem;
                font-weight: bold;
                padding-bottom: 10px;
            }
            .rows{
                padding-bottom: 5px;
                font-weight: bold;
            }
        }
        .columHours{
            padding: 5px;
            .rowsTitle{
                font-size: 1.2rem;
                font-weight: bold;
                padding-bottom: 10px;
            }
            .rows{ padding-bottom: 5px;}
        }
        
    }
}