@import "../../../../../styles/variables.scss";
.itemBlock {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: aliceblue;
    padding-top: 10px;
    border-bottom: 1px solid grey;
    .itemName {
      padding-left: 10px;
    }
    .itemInput {
      height: 30px;
    }
    .imgBlock {
      display: flex;
      flex-direction: column;
      .imgItem {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid black;
        .img {
          margin-right: 10px;
          width: 100%;
        }
        .btn {
          margin-top: 10px;
          margin-bottom: 10px;
          background-color: $rmd-grey-800;
          color: $rmd-grey-100;
          &:hover {
            background-color: $rmd-grey-900;
          }
        }
      }
      
    }
    .btn {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: $rmd-grey-800;
        color: $rmd-grey-100;
        min-height: 40px;
        &:hover {
          background-color: $rmd-grey-900;
        }
      }
      .uploadImgBtn{
        height: 40px;
      }
    .itemSelect {
        min-height: 30px;
    }
  }