.container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
  min-height: 600px;
  margin-top: 100px;
  
  .item{
      padding-bottom: 10px;
      .itemName{
          font-size: 1.2rem;
          font-weight:bold ;
          padding-right: 5px;
      }
      .itemContent{ font-size: 1.2rem;}

  }
}
