@import "../../../styles/variables.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #272727;
  padding: 10px;
  .header-logo {
    display: flex;
    align-items: center;
    &__text {
      font-size: 1.5rem;
      font-weight: bold;
      margin-right: 10px;
    }
    &__img {
      width: 40px;
      transform: rotate(-90deg);
    }
    &__img:hover {
      transition: all 1s ease 0s;
      transform: rotate(270deg);
    }
  }
}
.header-search {
  min-width: 30%;
  display: flex;
  padding: 10px;
  flex-grow: 2;
  max-width: 500px;
  position: relative;
  &__input {
    width: 100%;
    padding: 10px;
  }
  &__button {
    cursor: pointer;
    background-color: $colorDarkGrey900;
    color: $colorlightGrey100;
    width: 40px;
    height: 40px;
  }
  .searchDevicesList {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 10px;
    right: 10px;
    background-color: $rmd-grey-800;
    z-index: 7;
    color: $rmd-grey-100;
    .searchDeviceItem{
     padding: 5px;
      .itemLink{
        text-decoration: none;
        color: $rmd-grey-100;
        width: 100%;
      }
      &:hover,&:focus{
        background-color: $rmd-grey-900;
      }
    }
  }
}
.button-in-out {
  padding: 10px;

  .button-link {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: $colorDarkGrey900;
    color: $colorlightGrey100;
  }
  .button-link:hover {
    color: $rmd-blue-500;
  }
}
.contacts-items {
  display: flex;
  min-width: 150px;
  justify-content: space-between;
  align-items: center;
  .contacts-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__text {
      z-index: 6;
      padding: 10px;
      width: 200px;
      position: absolute;
      top: 40px;
      background-color: $colorDarkGrey900;
      color: $colorlightGrey100;
      border-radius: 10px;
      border: 1px solid $colorlightGrey100;
      display: none;
      &.table-container {
        width: 250px;
      }
      .table {
        display: flex;
        justify-content: center;
        padding: 5px;
        .columDays {
          padding: 5px;

          .rowsTitle {
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 10px;
          }
          .rows {
            padding-bottom: 5px;
            font-weight: bold;
          }
        }
        .columHours {
          padding: 5px;
          .rowsTitle {
            font-size: 16px;
            font-weight: 500;
            padding-bottom: 10px;
          }
          .rows {
            padding-bottom: 5px;
          }
        }
      }
    }
    &__icon {
      font-size: 1.5rem;
      padding-left: 15px;
      cursor: pointer;
    }
    &__icon:hover {
      color: $colorLightBlue800;
      transition: all 0.1s ease 0s;
      font-size: 1.8rem;
    }
    &:hover {
      .contacts-item__text {
        display: block;
      }
    }
  }
}
// @media (max-width: 1200px) {
//   .category-list {
//       grid-template-columns: repeat(2, minmax(200px, 1fr) );
//       grid-template-rows: repeat(5, minmax(300px, 1fr));
//       grid-auto-rows: minmax(300px, 1fr);
//   }
// }
// @media (max-width: 992px) {
//   .navbar__item.abaut-us{
//         display: none;
//   }
//   .navbar__item.contacts{
//     display: none;
// }
// }
@media (max-width: 767px) {
  .header {
    flex-direction: column;
    position: relative;
    align-items: flex-start;

    .header-logo {
      .header-logo__text {
        font-size: 1.2rem;
      }
      .header-logo__img {
        width: 30px;
      }
    }
    .header-search {
      width: 100%;
      box-sizing: border-box;
      margin-top: 10px;
      padding: 0px;
      position: relative;
      .searchDevicesList {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 40px;
        right: 0px;
        left: 0px;
        background-color: $rmd-grey-800;
        z-index: 7;
        color: $rmd-grey-100;
        .searchDeviceItem{
         padding: 5px;
          .itemLink{
            text-decoration: none;
            color: $rmd-grey-100;
          }
          &:hover,&:focus{
            background-color: $rmd-grey-900;
          }
        }
      }
    }
    .contacts-items {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: 0 auto;
      .contacts-item {
        position: relative;
        &__text {
          position: absolute;
          width: 220px;
          top: 40px;
          left: -50px;
          &.message {
            left: -80px;
          }
          &.response {
            left: -110px;
          }
          &.table-container {
            left: -150px;
          }
        }
      }

      &:focus {
        .contacts-item__text {
          display: block;
        }
      }
    }
    .button-in-out {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
}
