.category-list{
    
    height: 100%;
    width: 100%;
    display: grid;
    gap: 10px;
    justify-content: stretch;
    grid-template-columns: repeat(3, minmax(200px, 1fr) );
    grid-template-rows: repeat(3, 300px);
   margin-top: 30px;
}
