@import '../../../styles/variables.scss';
.subCategoryCard{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100%;
   width: 100%;
   overflow: hidden;
}
.content{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    .link{
        
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        .title{
            width: 60%;
            font-size: 1.4rem;
            background-color: $colorDarkGrey900;
            opacity: 0.9;
            color: $colorlightGrey100;
            text-decoration: none;
           padding-top: 5px;
           padding-bottom: 5px;
            margin-bottom: 5px;
            z-index: 2;
            text-align: center;
        }
        .title:hover{
            opacity: 0.9;
            background-color: $rmd-grey-700;
           
        }
        .img{
            width:100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
        
    }
    .deviceNameList{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        visibility: hidden;
        
        box-sizing: border-box;
        
        width: 80%;
        
        .device{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .deviceItem{
                width: 100%;
                .deviceLink{
                    display: block;
                    width: 100%;
                    overflow: hidden;
                    background-color:$colorDarkGrey900;
                    
                    z-index: 2;
                    text-decoration: none;
                    
                    .name{
                        color: $colorlightGrey100;
                        width: 100%;
                        padding: 5px;
                    }
                    &:hover{
                        background-color: $rmd-grey-700;
                    }
              
                }
                .deviceLinkAll{
                    display: block;
                    width: 100%;
                    overflow: hidden;
                    background-color:$colorDarkGrey900;
                    
                    z-index: 2;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    
                    .name{
                        color: $colorlightGrey100;
                        text-align: center;
                        width: 50%;
                        padding: 5px;
                    }
                    &:hover{
                        background-color: $rmd-grey-700;
                    }
              
                }
            }
            
           
        }
       
        
    }
    
   
    
}
.subCategoryCard:hover{
    .deviceNameList{
        visibility: visible;
        opacity: 0.9;
        background-color: $colorDarkGrey900;
    }
}
@media (max-width: 767px) {
    .content{
        .link{
            .title{
                font-size: 1.2rem;
            }
        }
       
    }
    .subCategoryCard:focus{
        .deviceNameList{
            visibility: visible;
            opacity: 0.9;
            background-color: $colorDarkGrey900;
        }
    }
  }
