@import "../../styles/variables.scss";
.card {
  margin-top: 10px;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  .navHistory {
    justify-self: flex-start;
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    .navHome {
      display: flex;
      span {
        padding-left: 5px;
        padding-right: 5px;
      }

      .navLinkHome {
        margin-right: 5px;
        display: flex;
        text-decoration: none;
        color: $colorDarkGrey900;
        &:hover {
          color: $colorDarkBlue900;
        }
      }
      .navLinkCategory {
        margin-right: 5px;
        display: flex;
        text-decoration: none;
        color: $colorDarkGrey900;
        &:hover {
          color: $colorDarkBlue900;
        }
      }

      .categoryName {
        margin-right: 5px;
      }
    }
    .selectedCategory {
      color: $colorDarkBlue900;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    .mainBlock {
      display: flex;
      width: 100%;
      height: 50%;
      max-height: 500px;

      .imgBlock {
        width: 50%;
        height: 100%;

        display: flex;

        .smallImgBlock {
          width: 20%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          //  align-items: stretch;
          //grid-auto-rows: auto;
          .upButton {
            background-color: $rmd-grey-900;
            border: none;
            cursor: pointer;
            .faChevronUp {
              color: $rmd-grey-100;
              font-size: 18px;
              width: 100%;
            }
            &:hover {
              background-color: $rmd-grey-800;
            }
          }
          .smallImgArrBlock {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: minmax(100px, 100%);
            grid-template-rows: repeat(3, minmax(100px, 1fr));
            gap: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            .smallImgItem {
              position: relative;
              cursor: pointer;
              .img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
              }
            }
          }
          .downButton {
            background-color: $rmd-grey-900;
            border: none;
            cursor: pointer;
            .faChevronDown {
              color: $rmd-grey-100;
              font-size: 18px;
              width: 100%;
            }
            &:hover {
              background-color: $rmd-grey-800;
            }
          }
        }
        .largeImgBlock {
          width: 80%;
         min-height: 100%;
          position: relative;
         
          margin-left: 5px;
          .img1 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      .orderBlock {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;

        .nameBlock {
          width: 100%;
          font-size: 1.4rem;
        }
        .availabilityBlock {
          .availability {
            color: green;
          }
          .noavailability {
            color: red;
          }
        }
        .priceBlock {
          font-size: 1.4rem;
        }
        .colorBlock {
        }
        .buttonBlock {
          button {
            height: 40px;
            min-width: 200px;
            color: $rmd-grey-100;
            background-color: $rmd-blue-800;
            border: none;
            font-size: 1.4rem;

            .faCartShopping {
              padding-right: 10px;
            }
            span {
              padding-left: 10px;
            }
            &:hover {
              background-color: $rmd-blue-900;
            }
          }
        }
        .contactsBlock {
          width: 100%;
          height: 30%;
          border: 1px solid $rmd-grey-800;

          .buttonsBlock {
            width: 100%;
            display: flex;
            flex: 1 1 300px;
            justify-content: space-between;
            height: 30px;
            button {
              background-color: $rmd-grey-900;
              display: block;
              border: none;
              width: 33%;
              color: $colorlightGrey100;
              &:hover {
                background-color: $rmd-grey-800;
              }
            }
          }
          .contactsContent {
            button {
              background-color: $rmd-grey-900;
              color: $rmd-grey-100;
              border: none;
              &:hover {
                background-color: $rmd-grey-800;
              }
            }
          }
        }
      }
    }

    .infoBlock {
      height: 50%;
      padding: 10px;
      overflow: auto;
    }
  }
  .contactInfoModalContainer {
    width: 100%;
    height: 100%;

    position: absolute;
    display: flex;

    background-color: $rmd-grey-800;
    justify-content: center;
    align-items: center;

    .contactInfoModal {
      background-color: $rmd-grey-100;
      min-width: 300px;
      min-height: 200px;
      padding: 20px;
    }
  }
}
@media (max-width: 992px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    .navHistory {
     
      display:block;
      
      .navHome{
       
        
        display: inline;
        .navLinkHome{
        
          display: inline;
          .faHouse{
            display: inline;
          }
          div{ display: inline;}
        }
        .navLinkCategory{
          display: inline;
          flex-direction: row;
          flex-wrap:nowrap;
          margin: 0px;
        }
      }
      .selectedCategory{
       
        display: inline;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      .mainBlock {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 650px;
        .imgBlock {
          width: 100%;
          height: 50%;
          .smallImgBlock {
            width: 100%;
            height: 100%;
            flex-direction: row;
            position: relative;
            .upButton {
              position: absolute;
              height: 100%;
              z-index: 1;
              opacity: 0.8;
              padding-top: 0px;
              padding-bottom: 0px;
              .faChevronUp {
                transform: rotate(270deg);
              }
              &:focus {
                background-color: $rmd-grey-900;
              }
              &:hover {
                background-color: $rmd-grey-900;
              }
            }
            .smallImgArrBlock {
              grid-template-columns: repeat(3, minmax(100%, 1fr));
              grid-template-rows: minmax(200px, 1fr);
              overflow: auto;
              margin: 0px;

              .smallImgItem {
                padding-top: 0px;
                padding-bottom: 0px;
                border: 1px solid $rmd-grey-800 ;
              }
            }
            .downButton {
              position: absolute;
              height: 100%;
              
              opacity: 0.8;
              top: 0px;
              right: 0px;
              padding-top: 0px;
              padding-bottom: 0px;
              .faChevronDown {
                transform: rotate(270deg);
              }
              &:focus {
                background-color: $rmd-grey-900;
              }
              &:hover {
                background-color: $rmd-grey-900;
              }
            }
          }
          .largeImgBlock {
            display: none;
          }
        }
        .orderBlock {
          width: 100%;
         height: 50%;
          display: flex;
          flex-direction: column;
          .contactsBlock{
            min-height: 130px;
            .buttonsBlock{
              
            }
            .contactsContent{
             padding: 2px;
             min-height: 100px;
             button{
              padding: 5px;
             }
            }

          }
        }
      }
      .infoBlock {
        margin-top: 10px;
        height: 50%;
        width: 100%;
       flex: 1 1 auto;
      h3{
        margin-top: 10px;
        margin-bottom: 10px;
      }
        .infoContainer {
          max-width: 100%;
          height: 100%;
          overflow: auto;
      
          p {
            
           margin-top: 6px;
           margin-bottom: 6px;
           height: auto;
            img {
             min-height: 100px;
             
              top:0px;
              left: 0px;
              width: 100%;
              
              object-fit: cover;
              padding-bottom: 50px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    .navHistory {
     
      display:block;
      
      .navHome{
       
        
        display: inline;
        .navLinkHome{
        
          display: inline;
          .faHouse{
            display: inline;
          }
          div{ display: inline;}
        }
        .navLinkCategory{
          display: inline;
          flex-direction: row;
          flex-wrap:nowrap;
          margin: 0px;
        }
      }
      .selectedCategory{
       
        display: inline;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      .mainBlock {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 650px;
        
        .imgBlock {
          width: 100%;
          height: 50%;
          .smallImgBlock {
            width: 100%;
            height: 100%;
            flex-direction: row;
            position: relative;
            .upButton {
              position: absolute;
              height: 100%;
              z-index: 1;
              opacity: 0.8;
              padding-top: 0px;
              padding-bottom: 0px;
              .faChevronUp {
                transform: rotate(270deg);
              }
              &:focus {
                background-color: $rmd-grey-900;
              }
              &:hover {
                background-color: $rmd-grey-900;
              }
            }
            .smallImgArrBlock {
              grid-template-columns: repeat(3, minmax(100%, 1fr));
              grid-template-rows: minmax(200px, 1fr);
              overflow: auto;
              margin: 0px;

              .smallImgItem {
                padding-top: 0px;
                padding-bottom: 0px;
                border: 1px solid $rmd-grey-800 ;
              }
            }
            .downButton {
              position: absolute;
              height: 100%;
              
              opacity: 0.8;
              top: 0px;
              right: 0px;
              padding-top: 0px;
              padding-bottom: 0px;
              .faChevronDown {
                transform: rotate(270deg);
              }
              &:focus {
                background-color: $rmd-grey-900;
              }
              &:hover {
                background-color: $rmd-grey-900;
              }
            }
          }
          .largeImgBlock {
            display: none;
          }
        }
        .orderBlock {
          width: 100%;
         height: 50%;
          display: flex;
          flex-direction: column;
          .contactsBlock{
            min-height: 130px;
            .buttonsBlock{
              
            }
            .contactsContent{
             padding: 2px;
             min-height: 100px;
             button{
              padding: 5px;
             }
            }

          }
        }
      }
      .infoBlock {
        margin-top: 10px;
        height: 50%;
        width: 100%;
       flex: 1 1 auto;
      h3{
        margin-top: 10px;
        margin-bottom: 10px;
      }
        .infoContainer {
          max-width: 100%;
          height: 100%;
          
      
          p {
            
           margin-top: 6px;
           margin-bottom: 6px;
           height: auto;
            img {
             min-height: 100px;
             
              top:0px;
              left: 0px;
              width: 100%;
              
              object-fit: cover;
              padding-bottom: 50px;
            }
          }
        }
      }
    }
  }
}
