.app {
  min-height: 100vh;
  max-width: 1400px;
  
  display: flex;
  flex-direction: column;
  padding: 10px 5px 0px 5px;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;

  .nav {
    position: sticky;
    top: 0px;
    z-index: 5;
  }
  //
  .main {

    padding: 0px;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1 1 auto;
    
  }
  .footer {
    margin-top: 10px;
    height: 50px;
  }
}
@media (max-width: 1200px) {
  .app {
    width: 100%;
    max-width: none;
  }
}
@media (max-width: 992px) {
  .app {
    width: 100%;
    max-width: none;
  }
}
@media (max-width: 767px) {
  .app {
    width: 100%;
    max-width: none;
    .main {
     
    }
  }
}
