.app {
  min-height: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  padding: 10px 0px 0px 0px;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  .nav {
    position: sticky;
    top: 0px;
    z-index: 5;
  }
  .main {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    flex: 1 1 auto;
  }
}
