@import "../../../styles/variables.scss";
.deviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid $colorDarkGrey900;
    &.noAvailability {
      background-color: $colorDarkGrey900;
      opacity: 0.5;
    }
    .link {
      width: 100%;
      height: 100%;
      position: relative;

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
      }
    }
    .deviceInfo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;

      .name {
        font-size: 1.6rem;
        padding-left: 20px;
      }
      .availability {
        font-size: 1rem;
        padding-left: 20px;
        color: green;
      }
      .noavailability {
        font-size: 1rem;
        padding-left: 20px;
        color: red;
      }
      .price {
        font-size: 1.2rem;
        padding-left: 20px;
      }
      .button {
        width: 100%;
        height: 40px;

        color: $colorlightGrey100;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colorDarkGrey900;
        opacity: 0.2;
        border: none;
        .buttonIcon {
          font-size: 1.6rem;
        }
        .buttonName {
          font-size: 1.6rem;
          padding-left: 5px;
        }
      }
    }
    .deviceInfo:hover {
      .button {
        opacity: 0.9;
        background-color: $rmd-red-800;
      }
    }
  }
}
