
$colorLightBlue800:#1565C0;
$colorDarkBlue900:#0D47A1;
$colorlightGrey100:#F5F5F5;
$colorDarkGrey900:#212121;
$rmd-blue-900:#0D47A1;
$rmd-blue-800:#1565C0;
$rmd-red-800:#C62828;
$rmd-grey-900:#212121;
$rmd-grey-800:#424242;
$rmd-grey-700:#616161;
$rmd-grey-100:#F5F5F5;
$rmd-blue-500:#2196F3;
$rmd-blue-600:#1E88E5;
$rmd-blue-700:#1976D2;